.container_header {
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 3px 100px;
    box-sizing: border-box;
}

.logoDiv {
    width: 33%;
    display: inline-block;
}

.header_title {
    position: absolute;
    margin-left: 70px;
    bottom: 18px;
    font-size: 22px;
}

.searchDiv {
    display: inline-block;
    width: 33%;
    margin-left: 200px;
    padding: 12px 0;
}

.userDiv {
    display: inline-block;
    width: 33%;
    margin-left: 200px;
    padding: 12px 0;
}